.git
.github
.phpunit.cache
.phpunit.result.cache
.env
.env.*
!.env.example
installed.lock
node_modules
vendor
storage
bootstrap/cache
public/uploads
models
database/*.sqlite
composer-setup.php
docs
prompts
tests
coverage
tmp
